 <!-- start page title -->
 <div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">Dashboard</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">App</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-8">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="inputPassword2" class="sr-only">Search</label>
                                <input type="search" class="form-control" id="inputPassword2" placeholder="Search...">
                            </div>
                           
                        </form>
                    </div>
                    <div class="col-xl-4 col-sm-6">
                        <div class="text-lg-right mt-3 mt-lg-0">
                            <button type="button" class="btn btn-info waves-effect waves-light mr-1"><i class="mdi mdi-cog"></i></button>
                            <button type="button" class="btn btn-success waves-effect waves-light mr-1"><i class="mdi mdi-plus-circle mr-1"></i> Add New</button>
                        </div>
                    </div><!-- end col-->
                </div> <!-- end row -->
            </div>
        </div> <!-- end card -->
    </div><!-- end col-->
</div>
<div class="row">
    <div class="col-xl-4 col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="media">
                    <div class="avatar-md mr-3">
                        <div class="avatar-title bg-light rounded-circle">
                            <img src="../assets/images/companies/airbnb.png" alt="logo"
                                class="avatar-sm rounded-circle">
                        </div>
                    </div>
                    <div class="media-body">
                        <h4 class="my-1"><a href="javascript:void(0);" class="text-dark">Airbnb Inc.</a></h4>
                        <p class="text-muted text-truncate mb-0">
                            <i class="ri-map-pin-line align-bottom mr-1"></i> San Francisco, California
                        </p>
                    </div>
                    <div class="dropdown">
                        <a class="text-body dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="mdi mdi-dots-vertical font-20"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="text-muted">
                    <div class="row">
                        <div class="col-6">
                            <div>
                                <p class="text-truncate mb-0">Revenue (USD)</p>
                                <h5 class="mb-sm-0">260 cr</h5>
                            </div>
                        </div>
                        <div class="col-6">
                            <div>
                                <p class="text-truncate mb-0">Number of employees</p>
                                <h5 class="mb-sm-0">3.1k</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>